# secrets
config.env
**/config.json
**/token.json
**/credentials.json

# generated local files
Pipfile.lock
**/__pycache__

# may result from installing protobuf-cli with npm
**/package.json
**/package-lock.json
**/node_modules
